body{
   font-family: 'Poppins', sans-serif;
}
.menu_wrap {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 28px;
}

.menu_wrap a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    font-size: 22px;
    padding-inline: 45px;

}

.menu_wrap>ul>li {
    list-style: none;
    display: inline-block;
}

.dep1 {
    margin-top: -15px;

}

.menu_wrap a:hover {
    color: white;
}

.menu_wrap .dep1 > li {
    vertical-align: top;
}

.menu_wrap .dep1 > li:hover > .dep2 {
   display:block;
}

.menu_wrap .dep2 {
    display: none;
    list-style: none;
/*     background-color: #494949; */
    opacity: 0.7;
}

.menu_wrap .dep2 > li {
    text-align: center;
}

.menu_wrap .dep2 > li > a {
  padding-left: 40px;
  font: 10px;
}

section {
float: right;
vertical-align: top;
margin-bottom: 4px;
margin-right: 30px;
}


#topHeader-index {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    background-color:#f6bd60;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-weight: bold;
    font-size: xx-large;
}

#topHeader-index > a {
text-decoration: none; 
 color: white;
}



.flexbox-container-footer { /* footer */
    margin-bottom: 5px;
  	/* position:absolute;  */
    bottom: 0;
    display: flex;
    text-align: left;
    font-size: 18px;
    width:100%;
    font-family: sans-serif;
    background-color: #eed7c5;
    line-height: 26px;
    height: 80px;
    
}

.flexbox-footer1 { /* footer-locationn */
	padding-top: 5px;
    margin-left: 350px;
    font-size: 18px;
    word-spacing: 2px;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 0.2rem;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 4px;
  font-size: 17px;
  font-weight:bold;
  padding: 8px 16px;
}

.button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
}

